<% provide(:title, 'Sign up') %>

<div class="center">
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
	  	<h1>Sign up</h1>
	    <%= form_for(@user) do |f| %>

	      <%= f.label :email %>
	      <%= f.email_field :email, class: 'form-control' %>

	      <%= f.label :password %>
	      <%= f.password_field :password, class: 'form-control' %>

	      <%= f.label :password_confirmation, "Confirmation" %>
	      <%= f.password_field :password_confirmation, class: 'form-control' %>

	      <%= f.submit "YOUPI je crée mon compte !", class: "btn btn-primary" %>
	    <% end %>
	    <br/>
	    <p>Déjà enregistré ?</p>
	    <%= link_to "Se connecter", login_path, class: "btn btn-danger" %> 
	  </div>
	</div>
</div>